
body{
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1{
  color:#66BFBF;
  font-size: 5.625rem;  /*100%  =  16px =  1em so 90/16  =  5.625em ;thus 562.5%*/ /*using rem size is only applied to root and parent changes doesn't get applied*/
  font-family: 'Sacramento', cursive;
  line-height: 2;
  margin: 3.125rem auto 0 auto;
}
h2{
  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  padding: 10px;
}
h3{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}
a{
  color:#11999E;
  text-decoration: none;
}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 6%;
  margin: 100px auto;
}

.top-container{
  background-color: #F5EDDC;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  padding: 100px 0;

}
.bottom-container{

background-color: #66BFBF;
padding: 50px 0 20PX;

}
.cloud1{
  position: absolute;
  top:50px ;

  right:300px ;
}
.cloud2{

  position: absolute;
  bottom:300px ;
  left: 300px;
}
.com{
  text-decoration: underline;
}
.profile_pic{
  border-radius: 90%;
}
.intro{
  width: 30%;
  margin: auto;
}
.skill-row{
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}
.skill1{
  float: left;
  margin-right: 1.8rem;
  width: 25%;

}
.skill2{
  float: right;
  margin-left: 1.8rem;
  width: 25%;

}
.footer-text{
  color:#EAF6F6;
}
.footer-link{
  margin: 10px;
}
.contact-me{
  margin: 10px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
