
body{
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1{

  margin-top: 0;
  font-size: 50px;
  font-family: 'Sacramento', cursive;
}
h2{
  font-family: 'Sacramento', cursive;
  font-size: 40px;
}
h3{
  font-family: 'Montserrat', sans-serif;
}


.top-container{
  background-color: #F5EDDC;
  position: relative;
  padding-top: 100px;
}

.middle-container{


}
.bottom-container{



}
.cloud1{
  position: absolute;
  top:50px ;

  right:300px ;
}
.cloud2{

  position: absolute;
  bottom:300px ;
  left: 300px;
}
.com{
  text-decoration: underline;
}
.profile_pic{
  border-radius: 90%;
}
